.main-page {
    width: 900px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 15px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}