.cart {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 330px;
}

.order {
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.cart h2 {
    text-transform: uppercase;
}

.cart button {
    border: 0;
    padding: 10px 15px;
    color: #fff;
    background: #e56234;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
}

.cart button:hover {
    cursor: pointer;
    background: #299c5d;
}

.cart button:disabled {
    background: #eee;
}