.menu {
    padding: 10px;
}

.menu-item {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item h4 {
    text-transform: capitalize;
    margin: 0;
}

.menu h2 {
    text-transform: uppercase;
}

.menu-item img {
    width: 190px;
    height: 145px;
    margin-bottom: 10px;
}

.menu-item button {
    padding: 8px 15px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: #316ad3;
    font-size: 14px;
    text-transform: uppercase;
    width: 104px;
    outline: none;
}

.menu-item button:hover {
    cursor: pointer;
    background: #299c5d;
}